* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #768F69;
    --blue: #004285;
    --gray: #d6d6d6;
}

header {
    padding: 15px 35px 10px 10px;
    background-color: var(--green);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--blue);
    background-color: var(--green);
    margin: 0;
    padding: 5px 10px 5px 60px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header a {
    text-decoration: none;
    color: var(--blue);
}

header nav {
    float: right;

}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.9vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

header nav ul li a:hover {
    color: var(--green);
    background: var(--blue);
    border-radius: 15px;
}

/* Hero Style */
.hero {
    background-image: url(./images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.flex-row {
    display: flex;
}

section{
    padding: 60px;
}

/* About Me Style */
.section-title {
    font-size: 48px;
    color: var(--green);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    border-color: var(--blue);
    
}

.intro {
    text-align: center;
    margin: 0 auto 30px auto;
    background-color: var(--gray);
    overflow: auto;
}

.intro article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.intro article img {
    width: 35%;
    height: fit-content;
    float: left;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.intro article p {
    padding: 0 30px;
    float: left;
    width: 65%;
    line-height: 1.5;
    font-size: 17px;
}

/* My Work Style */
.work h2 {
    color: var(--blue);
    border-color: var(--green);
}

.portfolio-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.primary-work {
    width: 40%;
    padding:20px
}

.primary-work img {
    width: 100%;
    border: 1px solid black;
}

.primary-work img:hover {
    opacity: .8;

}

.primary-work h3 {
    font-size: 25px;
    text-align: center;
    color: var(--blue);
    padding: 5px;
    text-decoration: underline;
    text-decoration-color: var(--green)
}

.secondary-work {
    width: 30%;
    padding:20px
}

.secondary-work img {
    width: 100%;
    border: 1px solid black;
}

.secondary-work img:hover {
    opacity: .8;

}

.secondary-work h3 {
    font-size: 25px;
    text-align: center;
    color: var(--blue);
    padding: 5px;
    text-decoration: underline;
    text-decoration-color: var(--green)
}

/* Contact Me Style */
.contact {
    background-color: var(--green);
}

.contact h2 {
    color: var(--gray);
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-info div {
    margin: 0px 40px;
}

.contact-info h3 {
    color: var(--blue);
    font-size: 32px;
}

.contact-info p {
    color: var(--gray);
    margin: 20px 0 0 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-info p a {
    color: var(--gray);
    padding: 3px;
}

.contact-info p a:hover {
    background: var(--blue);
    border-radius: 4px;
}

/* Footer Style */
footer {
    background: var(--gray);
    padding: 30px;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    color: var(--blue);
}

footer p {
    color: var(--green);
}

/* Media Qeusries For Smaller Screens */
@media screen and (max-width: 980px) {
    header{
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
      header nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 873px) {
    .contact-info div {
        padding: 0 0 20px 0;
    }

    .contact-info p {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .intro article img {
        width: 60%;
        height: fit-content;
        margin: 20px;
    }

    .intro article p {
        width: 100%;
        margin: 20px;
    }
}